@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic);

@import "~reveal.js/css/reset.css";

body {
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-size: 40px;
    margin-bottom: 30px;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.container {
    text-align: center;
}

ul {
    font-size: 30px;
    list-style: none;
}

a {
    text-decoration: none;
    color: red;
}

small {
    font-size: 14px;
}